<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.eduman">

    <application
        android:name=".core.EduManApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:fullBackupOnly="true"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EduMan"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6555431213345265~2794258144" />

        <activity
            android:noHistory="true"
            android:name="com.eduman.ui.activities.LaunchActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.eduman.ui.activities.SetupActivity"
            android:exported="true" />

        <activity
            android:name="com.eduman.ui.activities.AuthorizationActivity"
            android:exported="true" />

        <activity
            android:name="com.eduman.ui.activities.MainActivity"
            android:exported="true" />

    </application>

</manifest>